page-login {


}

#inputCompany{
    margin: auto;
    margin-top: 150px;
    border-radius: 20px;
    width: 80%;
    display: block;
    vertical-align: middle;

}

#button-login{
    background-color: #a2d43c;
    margin: auto;
    margin-top: 25px;
    width: 35%; 
    border-radius: 20px;
    display: block;
    vertical-align: middle;
}