page-email {

}

#inputEmail{
    margin: auto;
    margin-top: 150px;
    border-radius: 20px;
    width: 80%;
    display: block;
    vertical-align: middle;

}

#inputPassword{
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    width: 80%;
    display: block;
    vertical-align: middle;

}

#btn-confirm{
    background-color: #a2d43c;
    margin: auto;
    margin-bottom: 10px;
    width: 35%; 
    border-radius: 20px;
    display: block;
    vertical-align: middle;
}